<div [ngClass]="{'search-bar-init':   !this.moviesLoaded,
                 'search-bar-loaded': this.moviesLoaded}">
                 
    <button mat-icon-button (click)="searchMovieByTitle()"><mat-icon>search</mat-icon></button>
    <mat-form-field class="form-field">
    <mat-label>Search...</mat-label>
    <input matInput type="text" [(ngModel)]="inputText" (keyup.esc)="inputText=''" (keyup.enter)="searchMovieByTitle()">
    <button mat-button *ngIf="inputText" matSuffix mat-icon-button aria-label="Clear" (click)="inputText=''">
        <mat-icon>close</mat-icon>
    </button>
    </mat-form-field>
</div>
